* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
body
{
  /* background-color: #defcf9; */
  font-size: 20px;
  margin:0;
}
.donate
{
  color: white;
  background-color: black;
  height :auto;
  /* width :30%; */
   margin: 50px auto 0px;
   padding: 20px;
   opacity: 50%;
}
.block
{
  display: inline-block;
}
input :focus{
  border: 1px solid black;
}
.button {
  background-color: red;
  border: none;
  color:#f9f7f7 ;
  padding: 10px 20px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
button {
  background-color:#f9f7f7;
  border: none;
  color: red ;
  padding: 10px 20px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.block
{
  display: inline-block;
}
h1
{
  margin-top: 0px;
  margin-bottom: 20px;
}
input[type=text],input[type=file]{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 50%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
select
{
  padding: 10px 20px;
}
.welcome
{
  /* padding: 10px auto; */
  margin: 0 auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
  }
  th, td {
    padding: 5px;
    text-align: center;    
  }
.border
{
    position: relative;
    border :none;
    top : 200px;
}
#output
{
    border: solid black top;
    background-color :#f7f3e9;
    position: relative;
    top : 100px;
    width :80%;
    margin : 0 auto;
    text-align: center;
}
html { 
  background: url(_104340443_1111plasma1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
